html, body {
    height:100%;
    background-image:url("blackboard.jpg");
    background-size: auto;
    font-family:"Arial";


}

body {
    display:flex;
    align-items:center;
    background-color: #f5f5f5;
    background-image:url("dark-blackboard.jpg");
    
}

@font-face { font-family: "UrbanJungle"; 
src: url(fonts/UrbanJungleDEMO.otf);}

#game {
    width:100%;
    height:100%;
}
#game-title {
    font-size:7rem;
    color:white;
    font-family: UrbanJungle;
   
}

#btn-new-game {
    font-size:5rem;
    font-family:UrbanJungle;
    color:#F2F2F2;


}

#btn-new-game:hover {
    font-size:6rem;
    font-family:UrbanJungle;
    color:#F2F2F2;
    color:yellow;

}

.top-hud {
    background-color:black;

}

.bot-hud {
    background-color:black;

}

#game-col {
    max-width:75rem;
    margin:0 auto;
}

#logo {
     
    height:160px;
    margin-bottom:10rem;
    margin-top:10rem;
    margin-left:1rem;
    position:relative;
    border-radius: 25%;
    animation: my1move 5s infinite;

}

.choice {
    height:6rem;
    font-size:2.5rem;
}

#logodown {
    display:inline-block;
    animation: mymove 10s infinite;
    position:relative;

}
@keyframes mymove {
0% {transform:rotate(0deg);margin-right:0px}
20% {transform:rotate(0deg) }
50% {transform:rotate(180deg); color:yellow; }
70% {transform:rotate(180deg); color:yellow;  }
100% {transform:rotate(360deg);color:white;}
}

.wrapper { 

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }